<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Spring Boot Security Hello</title>
</head>
<body>
<h2>Spring Boot Security Hello</h2>
<form name='login-form' th:action="@{/j_spring_security_login}" method='POST'>
    <table>
        <tr>
            <td>Username:</td>
            <td><label> <input type='text' name='username' value=''> </label></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><label> <input type='password' name='password'/> </label></td>
        </tr>
        <tr>
            <td>Remember Me:</td>
            <td>
                <label> <input type="checkbox" name="remember-me"/> </label></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit"/></td>
        </tr>
    </table>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</form>
</body>
</html>
